description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <title>Student - {{ this.page.title }}</title>
        <meta name="author" content="October CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/logo.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body class="page-{{ this.page.id }} layout-{{ this.layout.id }}">



        <!-- Content -->
        <div id="layout-content">
            
        </div>


    </body>
</html>