@CHARSET "ISO-8859-1";
.outer-form-container h2{margin: 5px 10px !important}
.horizontal-form .form-control {width: 50% !important; margin: 10px !important;}
.horizontal-form .login-button {width: 50% !important; margin: 10px !important;}
.outer-form-container {padding: 10px;}
.layout-cell .oc-logo-white {height:80% !important;}