title = "Demonstration"
url = "/"
layout = "default"
==

<section class="home-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Demo Theme</h3>
                <p>You have the design, you have the code. We've created the product that will help your startup to look even better.</p>
                <div class="additional-links">
                    By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</section>
