<div data-control="toolbar">
    <a
        href="<?= Backend::url('tb/events/batches/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('tb.events::lang.batches.new_batch')) ?>
    </a>
    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('tb.event::lang.batches.delete_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>

    <?php /* if ($this->user->hasAnyAccess(['tb.events.access_import_export'])): ?>
        <div class="btn-group">
            <a
                href="<?= Backend::url('tb/events/batches/export') ?>"
                class="btn btn-default oc-icon-download">
                Export Classes
            </a>
            <a
                href="<?= Backend::url('tb/events/batches/import') ?>"
                class="btn btn-default oc-icon-upload">
                Import Classes
            </a>
        </div>
    <?php endif */ ?>
</div>
